/* Global */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;

    /* debug */
    border: 1px solid red;
}

body{
    background-color: rgb(46, 46, 46);
    overflow: hidden;
}
p {
    color: white;
}
h1,h2 {
    text-align: center;
}

li {
    list-style: none;
}
/* Outer div styles */
.outer-div{
padding: 10px;
height: 100vh;
display:flex;
flex-direction: column;
justify-content: start;
}
/* Top Bar Styles */
.top-bar {
background-color:crimson;
color: white;
margin-top: 10px;
margin-bottom: 10px;
}
.top-bar button{
    background-color: rgb(105, 105, 105);
    color: white;
}

.top-bar p{
    float: right;
    background-color: rgb(105, 105, 105);

}

/* Inner Container Styles */

.inner-div {
    background-color: rgb(105, 105, 105);
    height: 100%;
    width: 50%;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    
    
}

/* Header/ Intro Styles*/

.quiz-intro, main {
    display: block;
    margin-top: 20vh;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgb(105, 105, 105);
}

.quiz-intro button {
    /* display: block; */
    margin: auto;
    
}
/* Main Quiz Content Styles*/
main {
    display:block;
}


/* Question Window*/
.question-window{
    display: block;
    background-color: rgb(229, 233, 233);
}

/* End Window */
.quiz-end-window{
    display: block;
}


/* High Scores */

.highscores-window {
    display: block;
}

.highscores-window ol {
    overflow-y: scroll;
    max-height: 150px;
}

.hide {
    display:none;
}
.show{
    display: block;
}